*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* background-colors */
    --bg-primary-color : hsl(0, 0%, 15%);
    --bg-fill-color : hsl(0, 0%, 85%);
    --bg-food-color : hsl(0, 100%, 70%);

    /* text-colors */
    --text-primary-color : hsl(0, 0%, 85%);

    /* border-color */
    --border-primary-color: hsl(0, 0%, 30%);

    /* spacing */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;

    /* border-radius */
    --border-radius-xs : 4px;
    --border-radius-sm : 8px;
    --border-radius-md : 16px;
    --border-radius-lg : 20px;
    --border-radius-xl : 24px;
    --border-radius-2xl : 28px;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main, 
section{
    width: 100%;
    height: 100%;
   
}

.btn{ 
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-xs);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform : scale(1.1);
}

section{
    position: relative;
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary-color);
    gap: var(--space-lg)
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px, solid, var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    flex-grow: 1;
    border: 1px, solid, var(--border-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block{
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg-secondary-color);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg)
}

.modal .game-over{
   display: none;
}

.copyright {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    color: var(--text-primary-color);
    opacity: 0.8;
    pointer-events: none; /* so it doesn't block gameplay */
}

.copyright p {
    margin: 0;
    letter-spacing: 0.5px;
    opacity: 0.8;
}
